.app__content{
    justify-content:space-evenly;
    display: flex;
    
  }
  .cover_img{
    height: 600px;
    padding-right: 3%;
    padding-left: 15%;
  }
  .title_img{
    height: 270px;
    padding-right: 15%;
    padding-top: 15%;
  }

